### HelloFresh Python Assessment ###
# By Jelle Stoffels
# 7 July 2020, Amsterdam

This Python file takes a .json file called 'recipes.json', saved in the same directory and writes a csv-file including all recipes with chilies in it and adds a difficulty column to these recipes.

dependecies:

Python 3

import pandas as pd
import numpy as np
import datetime
import os
import re

